.wrapper {
    width: 413px;
    height: 444px;
    margin: 13% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2D2E46;
    background: #F9F9FE;
    border-radius: 8px;
}

.title {
    width: 256px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 50px;
    text-align: center;
}

.emailInput {
    width: 347px;
    position: relative;
}

.emailInput::after {
    content: '';

    width: 24px;
    height: 24px;
    background: red;
    position: absolute;
    top: 5%;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info {
    width: 347px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
    margin-bottom: 40px;
}

.instructions {
    margin-bottom: 80px;
}

.recoveryPasswordFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.linkToLogin {
    color: #21268F;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.submitButton {
    background: #21268F;
    color: red;
}

.containedButtonFile {
    display: none;
}

label {
    color: #21268F;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* padding-top: 11px; */
    margin: 11px 0;
    cursor: pointer;
}