@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.DeleteButton {
    width: 48px;
    height: 24px;
    border-radius: 2px;
    background-color: #f1453d;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.ButtonContainer {
    display: inline-block;
}

.Modal {
    height: 233px;
}

.CloseButton {
    float: right;
}

.Header {
    font-style: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D2E46;
    margin-bottom: 35px;
}

.ButtonBox {
    margin-top: 50px;
}

.CancelButton {
    float: left;
    margin: 15px auto;
    width: 124px;
    height: 36px;
    border-radius: 30px;
    background-color: #D7D8EF;
    color: #21268f;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.DeleteButtonModal {
    float: right;
    margin: 15px auto;
    width: 124px;
    height: 36px;
    border-radius: 30px;
    background-color: #F1453D;
    color: #ececf9;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}