.wrapper {
    width: 413px;
    height: 540px;
    margin: 15% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2D2E46;
    background: #F9F9FE;
    border-radius: 8px;
}

.title {
    width: 163px;
    height: 39px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
}

.forgotPasswordTitle {
    width: 256px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 50px;
    text-align: center;
}

.emailInput {
    width: 347px;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

p {
    width: 347px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
}

.instructions {
    margin-bottom: 80px;
}

.recoveryPasswordFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.linkToLogin {
    color: #21268F;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
