.app {
    /*background: #3a1c71; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to top, #ffaf7b, #d76d77, #3a1c71); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(*/
    /*    to top,*/
    /*    #ffaf7b,*/
    /*    #d76d77,*/
    /*    #3a1c71*/
    /*); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
     /* max-height: 100vh; */
}
.recoveryPasswordWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}